{
    "proxyDomains" : [
	"www.earthenergymap.com",
	"geolines.ru",
	"www.ancientpenwith.org"
    ],
    "initializationUrls" : [
        "leylines"
    ],
    "parameters": {
        "bingMapsKey": "<key>",
	"urthecastApiKey": "<key>",
	"urthecastApiSecret": "<secret>",
        "disclaimer": {
            "text": "Disclaimer: leylines.ch must not be used for navigation or precise spatial analysis",
            "url": "http://www.leylines.ch/about"
        }
    }
}

