{
    "pgHost": "localhost",
    "pgUser": "user",
    "pgPass": "pass",
    "pgPort": "5432",
    "pgDatabase": "leylines",
    "port": 3001,
    "allowProxyFor" : [
        "www.earthenergymap.com",
        "geolines.ru",
        "www.ancientpenwith.org"
    ],
    "proxyAllDomains": false,
    "proxyAuth": {}
}

